/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
}

img{
    max-width: 100%;
}

.container{
    width: 80%;
    margin: 10px auto;   
}

main::after{
    clear: both;
    content: "";
    display: table;
}

a{
    text-decoration: none;
}

/* regole header */
header{
    height: 100px;
}

header h1{
    color: rgb(231, 21, 77);
    line-height: 100px;
    text-align: center;
}

/* regole main */
main{
    margin-left: -10px;
    margin-right: -10px;
}

.intro{
    text-align: center;
    margin: 20px 0;
}

.card{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 20px 10px;
    background-color: black;
}

.card img{
    width: 40%;
    float: left;
    height: 150px;
}

.card a{
    color: rgb(0, 128, 255);
    display: block;
}

.card h4, span{
    color: white;
}

.presentazione{
    float: left;
    padding: 20px;
    font-size: 16px;
}

.presentazione span{
    display: inline-block;
    padding: 20px 0;
}
