/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
}

.container{
    width: 80%;
    margin: 10px auto;
    /* debug */
    background-color: brown;
    height: 800px; 
}

/* regole header */
header{
    height: 100px;
    margin-bottom: 20px;
    /* debug */
    background-color: blueviolet;
}



/* regole main */
.intro{
    height: 100px;
    
    /* debug */
    background-color: coral;
}

.card{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 30px 10px;
    /* debug */
    background-color: crimson;
    height: 200px;
    border: 1px solid black;
}
