/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
}

.container{
    width: 80%;
    margin: 10px auto;
    /* debug */
    border: 1px solid black;   
}

main::after{
    clear: both;
    content: "";
    display: table;
}

/* regole header */
header{
    height: 100px;
}

header h1{
    color: rgb(231, 21, 77);
    line-height: 100px;
    text-align: center;
}

/* regole main */

section{
    font-weight: normal;
}

.intro{
    text-align: center;
    /* debug */
    /* background-color: coral; */
    /* border: 1px solid black; */
    /* height: 100px; */
}

.card{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 30px 10px;
    /* debug */
    background-color: crimson;
    height: 200px;
    border: 1px solid black;
}
